/* general properties w asterisk */
* {
    /* fonts & text*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    /* debug */
    /* border: solid black; */
    margin: 2%;
}

/* MAIN PARTS */
body {
    background-image: url(https://bhf-cdn.azureedge.net/bhf-blob-prod/0041573_jemima-black-zebra-wallpaper_600.jpeg);
    background-repeat: repeat;
    font-size: 20px;
    color: black;
}

header {
    /* bkgrnd */
    background-image: url(https://cdn.wallpapersafari.com/69/52/m58Br6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* dimensions */
    height: 200px;
}

main {
    border: solid white;
    /*
    background-image: url(https://i.pinimg.com/originals/b1/0f/ef/b10feff9bc5ed774dd9911ced0dfdbef.jpg);
    background-repeat: repeat-x;
    */
    background-color: cadetblue;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.paragraph {
    /* text style */
    text-align: center;
    font-style: italic;
    color: maroon;
    font-weight: 600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main h2 {
    color: crimson;
    text-align: center;
}

/* WEB MENU! */
.weblogo {
    height: 10px;
}

#menu {
    /* top-bottom left-right */
    padding: 15px 10px;
    border: solid yellow;

}

#menu_list {
    border: solid yellow;
    background-color: tomato;
    padding: 20px;
    width: 600px;
    height: fit-content;
}

#menu_list li {
    /* appearance*/
    border: solid firebrick;
    background-color: rebeccapurple;
    font-size: 20px;
    /* remove list dots */
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    /* dimensions */
    height: inherit;
    margin-right: 30px;
    text-align: center;
}

#menu_list a {
    padding: 25px;
    font-size: 22px;
    color: white;
    text-decoration: none;
}

/* whenever the mouse is right in the text*/
#menu_list a:hover {
    color: wheat;
    font-weight: bold;
    text-decoration: none;
}

/* USER INPUTS */
main #forms_div {
    border: solid blueviolet;
    background-image: url(https://cdn11.bigcommerce.com/s-hv21hhsv/images/stencil/2000x2000/products/3268/40061/Screen_Shot_2018-12-02_at_10.01.41_pm__51231.1543748516.png?c=2);
    display: flex;
    align-items: center;
    justify-content: center;
}

main #form_register {
    padding: 0;
    display: block;
    align-items: center;
    justify-content: center;
}

main .input_user {
    padding: 10px;
    margin-bottom: 10px;
    margin: auto;
    width: min-content;
}

main .error_message {
    font-size: 13px;
    color: red;
    text-align: center;
    width: fit-content;
}

/* FORMS HEADERS*/
main .parapara {
    margin-top: 30px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main h3 {
    text-align: center;
    color: brown;
}

/* BUTTON */
main #submit_button {
    width: 160px;
    height: 40px;
}

/*RADIOs*/
#radio_p {
    font-size: 18 px;
    font-weight: bold;
    color: red;
}

main #div_radios {
    width: 500px;
}

main #navigator_v {
    margin-top: 20px;
    text-align: center;
    font-size: 29px;
    font-style: oblique;
}

/* ANSWERS PHP */
.answers_list li {
    padding: 10px;
    list-style: none;
    text-align: center;
}